/*----Default Values-----
Fonts: Roboto
Colors:
1. Forest blue: #0a3d62
2. Red: #ff0000
3. Black: #000
4. White: #fff
-----------------------*/

/*----------------------
       Basic Setup
----------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Raleway,sans-serif;
    
}

ul{
    display: flex;
}

li{
    list-style:none;
}

a{
    text-decoration: none;
}

body{
    color: #000;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
}
/*----------------------
       Header
----------------------*/

.navbar{
    display:flex;
    justify-content: flex-end;
    height: 10vh;
    align-items: center;
    font-size: 20px;
    
}

#logo{
    margin-right:auto;
}

#logo img{
    height:9vh;
}

.navbar li{
    margin: 0 45px;
    color:#0a3d62;
}

/*banner section*/

.banner{
    height: 90vh;
    background-image: linear-gradient(to right,rgba(10, 61, 98,0.8),rgba(10, 61, 98,0.7)),url(./img/img2.jpg);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.banner h1{
    font-weight: 300;
    font-size: 39px;
}

.banner h1 span{
    color:#47ccf5;
    font-weight: bold;
}

/*activities*/

.activities{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}

.activities > div{
    width:21%;
    min-width: 250px;
    flex-grow: 1;
    margin: 20px 2%;
}

.activities img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.activities h3{
    font-size: 25px;
    margin: 20px 0;
    padding: 0 15px;
    border-left: 4px solid #ff0000;
    color:#0a3d62;
}

/*CSS Assignment */

/*----------------------
       write css for gallery section here
----------------------*/



/*----------------------
 write css for contact section here
----------------------*/
